albumentations==1.4.4
matplotlib==3.8.4
numpy==2.1.1
opencv_python==4.9.0.80
opencv_python_headless==4.10.0.84
pandas==2.2.3
Pillow==10.4.0
scikit_learn==1.4.2
timm==1.0.9
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1